<!-- templates/registration/password_reset_email.html -->
{% load i18n %}{% autoescape off %}
{% trans "Hi" %}, {{user.get_username}},
{% trans "Received a request to change YOUR password. If this isn't you - FUCK OFF." %}

You're receiving this mail because you want to change your pass at {{ site_name }}.
Please click this link to update your password :)
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
{% endautoescape %}